
.Weather-container{

  max-width: 400px ;
  margin: 20px;
  /* align-items: center; */
  margin-left:600px;
  padding: 20px;
  background-color: #addbf8;
  border-radius: 8px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.weather_info{
  margin-top: 20px;
}
input[type="text"]{
  padding: 10px;
  margin-top: 20px;
}
button{
  padding: 10px;
  margin-top: 20px;
}